@font-face {
  font-family: kookExtraBold;
  src: url("../../public/fonts/Kook-ExtraBold.woff");
  font-style: normal;
}

body {
  font-family: kookExtraBold !important;
  font-feature-settings: "ss01" !important;
}
